<div class="cards">
  <div>
    <img src="https://images.puella-magi.net/thumb/2/27/No_Image_Wide.svg/800px-No_Image_Wide.svg.png?20110202071158" height="180px" width="170px" alt="Denim Jeans">
    <h1>Product 7</h1>
    <p class="price">$19.99</p>
    <p>Some text about the product..</p>
    <p><button class="btn btn-primary">Add to Cart</button></p>
  </div>

  <div>
    <img src="https://images.puella-magi.net/thumb/2/27/No_Image_Wide.svg/800px-No_Image_Wide.svg.png?20110202071158" height="180px" width="170px" alt="Denim Jeans">
    <h1>Product 8</h1>
    <p class="price">$19.99</p>
    <p>Some text about the product..</p>
    <p><button class="btn btn-primary">Add to Cart</button></p>
  </div>

  <div>
    <img src="https://images.puella-magi.net/thumb/2/27/No_Image_Wide.svg/800px-No_Image_Wide.svg.png?20110202071158" height="180px" width="170px" alt="Denim Jeans">
    <h1>Product 9</h1>
    <p class="price">$19.99</p>
    <p>Some text about the product..</p>
    <p><button class="btn btn-primary">Add to Cart</button></p>
  </div>
</div>
